/* .fecha{
    color: blue;
} */

/* .ocultar{
    display: none;
}

body{
padding: 25px;
line-height: 1.5;
background-color: white;
color: black;
font-size: 25px;
}

.modoOscuro{
    background-color: #272727;
    color: white;
}

button{
    padding: 10px 35px;
} */


/* CLASE 19
.col1{
    background-color: paleturquoise;
    text-align: center;
}

.col2{
    background-color: violet;
    text-align: right;
}

.col3{
    background-color: bisque;
}

.col4{
    background-color: palegreen;
}

.btnTest{
background-color: blueviolet;
} */


/* CLASE 18 */

.dead{
    color: red;
}

.alive{
    color: green;
}

.unknown{
    color: yellow;
}